body {
    background-color: #222120;
}

.button {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: rgb(219, 219, 219);
    background: none;
    border: none;
    padding: 14px 24px;
    position: relative;
}

.button::before {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50px;
    transform: translateY(-50%) translateX(calc(100% + 40px));
    width: 32px;
    height: 32px;
    background: #e84e0f;
    transition: transform .25s .25s cubic-bezier(0, 0, .5, 2), width .25s cubic-bezier(0, 0, .5, 2);
    z-index: -1;
}

.button:hover::before {
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition: transform .25s cubic-bezier(0, 0, .5, 2), width .25s .25s cubic-bezier(0, 0, .5, 2);
}

.button i {
    margin-left: 14px;
    color: rgb(219, 219, 219);
    transition: transform .25s .4s cubic-bezier(0, 0, .5, 2);
}

.button:hover i {
    transform: translateX(2px);
}